<?php
    $url = $this->router->getControllerName().'/'.$this->router->getActionName();
    $number = ($pagin->total_pages > 4) ? 5 : $pagin->total_pages;
    if ($pagin->total_pages > 1):
?>
<div class="text-right">
    <nav>
        <ul class="pagination">
            <li<?= ($pagin->before == $pagin->current) ? ' class="disabled"' : '' ?>>
                <a href="<?= $this->url->get($url."/".$folderId."/".$pagin->before); ?>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <?php
                if ($pagin->current > 2 && $pagin->total_pages > 4 && $pagin->last > ($pagin->current + 2)) {
                    for($i = $pagin->current; $i < ($pagin->current + 5); $i++) {
                        $j = $i - 2;
                        $active = ($pagin->current == $j) ? ' class="active"' : '';
                        echo '<li' . $active . '><a href="' . $this->url->get($url . "/".$folderId."/" . $j) . '">' . $j . '</a></li>';
                    }
                }
                elseif ($pagin->current > 2 && $pagin->total_pages > 4 && $pagin->last < ($pagin->total_pages + 2)) {
                    for($i = ($pagin->total_pages - 4); $i < ($pagin->total_pages + 1); $i++) {
                        $j = $i - 2;
                        $active = ($pagin->current == $i) ? ' class="active"' : '';
                        echo '<li' . $active . '><a href="' . $this->url->get($url . "/".$folderId."/" . $i) . '">' . $i . '</a></li>';
                    }
                }
                else {
                    for($i = 1; $i < ($number + 1); $i++) {
                        $active = ($pagin->current == $i) ? ' class="active"' : '';
                        echo '<li' . $active . '><a href="' . $this->url->get($url . "/".$folderId."/" . $i) . '">' . $i . '</a></li>';
                    }
                }
            ?>
            <li<?= ($pagin->last == $pagin->current) ? ' class="disabled"' : '' ?>>
                <a href="<?= $this->url->get($url."/".$folderId."/".$pagin->next); ?>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<?php endif ?>