<div class="content box">
    <div class="box-title">
        Upload plików
        <span class="fa fa-bars pull-right visible-xs visble-sm"></span>
    </div>
    <div class="box-content">
        <button id="upload" class="btn btn-success pull-right">Upload</button>
        <div id="fileuploader"></div>
    </div>
    <div class="box-input">
        <form action="<?= $this->url->get("files/addLink/".$folderId); ?>" method="post">
            <div class="input-group">
                <input type="text" name="urlAdres" class="form-control" placeholder="Adres URL">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Dodaj</button>
                </span>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var upload = $("#fileuploader").uploadFile({
                url: "<?= $this->url->get("files/addUpload/".$folderId); ?>",
                fileName:"upload_cms",
                multiple:true,
                dragDrop: false,
                autoSubmit: false,
                showProgress: true,
                showFileCounter:false,
                showAbort: false,
                showDone: false,
                showDelete: false,
                showDownload: false,
                showFileSize: false,
                customProgressBar: function(obj, s) {
                    this.statusbar = $("<div class='row'style='margin-top: 10px'></div>");
                    file_bar = $("<div class='col-xs-12' style='margin-bottom: 5px'></div>").appendTo(this.statusbar)
                    this.cancel = $("<div class='fa fa-times pull-right' style='line-height: 20px'></div>").appendTo(file_bar);
                    this.filename = $("<div style='line-height: 20px'></div>").appendTo(file_bar);
                    this.progressDiv = $("<div class='col-xs-12'></div>").appendTo(this.statusbar);
                    progress = $("<div class='progress' style='margin:0'></div>").appendTo(this.progressDiv);
                    this.progressbar = $('<div class="progress-bar progress-bar-new-green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>').appendTo(progress);
                    this.abort = $("<div>" + s.abortStr + "</div>").appendTo(this.statusbar).hide();
                    this.done = $("<div>" + s.doneStr + "</div>").appendTo(this.statusbar).hide();
                },
                afterUploadAll: function(obj) {
                    location.reload()
                },
                uploadButtonClass: 'btn btn-default',
                uploadStr: 'Dodaj plik'
            });

            $('#upload').on('click', function() {
                upload.startUpload();
            })
        });
    </script>
</div>