<div class="content box">
    <div class="box-title">
        Foldery
        <span class="fa fa-bars pull-right visible-xs visble-sm"></span>
    </div>
    <div class="box-content">
        <?php foreach($lists as $list): ?>
        <?php $level = $list['level']; $item = $list['folder'] ?>
        <div class="" data-level="<?= $level ?>">
            <?= str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;", $level - 1) ?><span class="fa fa-folder"></span>
            <?= $this->tag->linkTo('files/index/'.$item->id, $item->html_name) ?>
        </div>
        <?php endforeach ?>
    </div>
    <div class="box-input">
        <form action="<?= $this->url->get("files/addFolder/".$folderId); ?>" method="post">
            <div class="input-group">
                <input type="text" name="folderName" class="form-control" placeholder="Nazwa folderu">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Dodaj</button>
                </span>
            </div>
        </form>
    </div>
</div>