<?php if (count($objects->items) == 0): ?>
<div class="col-xs-12"><div class="alert alert-warning">Folder nie zawiera żadnej treści</div></div>
<?php else: ?>
<div class="text-right" style="border-bottom: 1px solid #ddd; padding: 15px">
    <button id="checkImg" type="button" class="btn btn-primary btn-sm">Dodaj pliki</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th><input id="checkAll" type="checkbox"></th>
            <th>Nazwa</th>
            <th>Rozmiar</th>
            <th>Typ</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($objects->items as $object): ?>
            <tr>
                <?php
                if ($object['type'] == 'file') {
                    if (in_array($object['ext'], array('jpg', 'jpeg', 'png', 'gif')))
                        $icon = '<span class="fa fa-file-image-o"></span>';
                    else
                        $icon = '<span class="fa fa-file-o"></span>';
                    if ($object['link'])
                        $size = Library\myTools::getFilesize(filesize('uploads/link/'.$object['name_ext']));
                    else
                        $size = Library\myTools::getFilesize(filesize('../files/'.date('Y/m/d', strtotime($object['date_create'])).'/'.$object['name_ext']));
                    $checked = (in_array($object['id'], $this->session->get('imageCheck', array()))) ? ' checked' : '';
                }
                else {
                    $icon = '<span class="fa fa-folder"></span>';
                    $size = '-';
                }
                ?>
                <td>
                    <?php if ($object['type'] == 'file'): ?>
                    <input type="checkbox" class="check-img" id="<?= $object['id'] ?>"<?= $checked ?>>
                    <?php else: ?>
                    -
                    <?php endif ?>
                </td>
                <td>
                    <?= ($object['type'] == 'file') ? $object['name'] : $this->tag->linkTo('files/'.$this->router->getActionName().'/'.$object['id'].'/1', $object['name']) ?>
                </td>
                <td><?= $size ?></td>
                <td><?= $icon ?></td>
            </tr>
        <?php endforeach ?>
    </tbody>
</table>
<script type="text/javascript">
var idArray = [<?= implode(',', $this->session->get('imageCheck', array())) ?>];
$('.check-img').click(function() {
    var id = $(this).attr('id');
    if(this.checked)
        idArray.push(id);
    else
        idArray.splice($.inArray(id, idArray),1);
    idArray = jQuery.unique(idArray);
    $.ajax({
        cache: false,
        url: '<?= $this->url->get("files/saveCheck"); ?>',
        type: "POST",
        data: { 'checkId' : idArray },
        success: function(data){
            
        }
    });
})

$('#checkAll').click(function() {
    var img = $('.check-img');
    if(this.checked) {
        img.each(function(index) {
            var id = $(this).attr('id');
            $(this).prop('checked', true);
            idArray.push(id);
        });
    } else {
        img.each(function(index) {
            var id = $(this).attr('id');
            $(this).prop('checked', false);
            idArray.splice($.inArray(id, idArray),1);
        });
    }
    idArray = jQuery.unique(idArray);
    $.ajax({
        cache: false,
        url: '<?= $this->url->get("files/saveCheck"); ?>',
        type: "POST",
        data: { 'checkId' : idArray },
        success: function(data){
            
        }
    });
});
$('#checkImg').click(function() {
    window.parent.setMultiUploadFile(jQuery.unique(idArray));
})
</script>
<script type="text/javascript">
    openFile = function(fileUrl){
            //if(typeof (window.parent.setUploadFile) == 'function')
        window.parent.setUploadFile(fileUrl);
        }
</script>
<?php endif ?>