<div class="panel-title">
    Pliki
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <?= $this->partial("files/_upload_file") ?>
    <?= $this->partial("files/_upload_folder") ?>
</div>
<div class="col-xs-12 col-md-7 col-lg-8">
    <div class="content box">
        <div class="box-table">
            <?php if (count($objects->items) == 0): ?>
            <div class="col-xs-12"><div class="alert alert-warning">Folder nie zawiera żadnej treści</div></div>
            <?php else: ?>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Rozmiar</th>
                        <th></th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($objects->items as $object): ?>
                    <tr>
                        <?php
                            if ($object['type'] == 'file') {
                                if (in_array($object['ext'], array('jpg', 'jpeg', 'png', 'gif')))
                                    $icon = '<span class="fa fa-file-image-o"></span>';
                                else
                                    $icon = '<span class="fa fa-file-o"></span>';
                                if ($object['link'])
                                    $size = Library\myTools::getFilesize(filesize('uploads/link/'.$object['name_ext']));
                                else
                                    $size = Library\myTools::getFilesize(filesize('../files/'.date('Y/m/d', strtotime($object['date_create'])).'/'.$object['name_ext']));
                                $linkDelete = $this->url->get('files/deleteFile/'.$folderId.'/'.$object['id']);
                                $linkEnable = $this->url->get("files/enableFile/".$object['id']);
                            }
                            else {
                                $icon = '<span class="fa fa-folder"></span>';
                                $size = '-';
                                $linkDelete = $this->url->get('files/deleteFolder/'.$folderId.'/'.$object['id']);
                                $linkEnable = $this->url->get("files/enableFolder/".$object['id']);
                            }
                        ?>
                        <td>-</td>
                        <td>
                            <?= ($object['type'] == 'file') ? $object['name'] : $this->tag->linkTo('files/index/'.$object['id'].'/1', $object['name']) ?>
                        </td>
                        <td><?= $size ?></td>
                        <td><?= $icon ?></td>
                        <td class="text-right option-icon">
                            <?php if ($object['enabled']): ?>
                            <span data-link="<?= $linkEnable ?>/0" data-id="<?= $object['id'] ?>"
                                  data-value="<?= $object['enabled'] ?>" class="visible fa fa-eye"></span>
                            <?php else: ?>
                            <span data-link="<?= $linkEnable ?>/1" data-id="<?= $object['id'] ?>"
                                  data-value="<?= $object['enabled'] ?>" class="visible fa fa-eye-slash"></span>
                            <?php endif ?>
                            <span data-link="<?= $linkDelete ?>" class="delete fa fa-trash"></span>
                        </td>
                    </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">
            $('.delete').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {
                        $(item).closest('tr')
                            .children('td')
                            .animate({ padding: 0 })
                            .wrapInner('<div />')
                            .children()
                            .slideUp(function() { $(item).closest('tr').remove(); });
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            });
            $('.visible-folder').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')
                value = $(item).attr('data-value')
                id = $(item).attr('data-id')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {

                        if(parseInt(value) == 1)
                        {
                            $(item).removeClass('fa-eye')
                            $(item).addClass('fa-eye-slash')
                            $(item).attr('data-link', '<?= $this->url->get("files/visibleFolder/'+id+'/1"); ?>')
                            $(item).attr('data-value', '0')
                        }
                        else
                        {
                            $(item).removeClass('fa-eye-slash')
                            $(item).addClass('fa-eye')
                            $(item).attr('data-link', '<?= $this->url->get("files/visibleFolder/'+id+'/0"); ?>')
                            $(item).attr('data-value', '1')
                        }
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            })
            </script>
            <?php endif ?>
        </div>
    </div>
    <?= $this->partial("files/_paginator", array('pagin' => $objects)) ?>
</div>