<div class="login-form">
    <div class="img">
        <?= Phalcon\Tag::image(array("img/admin/admin-1.jpg", 'class' => 'active', 'alt' => '')); ?>
        <?= Phalcon\Tag::image(array("img/admin/admin-2.jpg", 'alt' => '')); ?>
        <?= Phalcon\Tag::image(array("img/admin/admin-3.jpg", 'alt' => '')); ?>
        <?= Phalcon\Tag::image(array("img/admin/admin-4.jpg", 'alt' => '')); ?>
        <?= Phalcon\Tag::image(array("img/admin/admin-5.jpg", 'alt' => '')); ?>
    </div>
    <div class="form">
        <div class="title">Panel logowania</div>
        <?php echo Phalcon\Tag::form(array('index/login', "method" => "post")) ?>
            <div class="form-group">
                <?php echo Phalcon\Tag::textField(array('logi', 'placeholder' => 'Login')) ?>
                <?php echo Phalcon\Tag::passwordField(array('pass', 'placeholder' => 'Password')) ?>
            </div>
            <div class="form-group">
                <?php echo Phalcon\Tag::tagHtml('button', array('class' => 'btn login', 'type' => 'submit')) ?>
                Login
                <?php echo Phalcon\Tag::tagHtmlClose('button') ?>
            </div>
        <?php echo Phalcon\Tag::endForm() ?>
    </div>
</div>