<script type="text/javascript">
    $('.delete').on('click', function() {
        item = $(this)
        link = $(item).attr('data-link')

        $.ajax({
                method: "POST",
                url: link,
            })
            .done(function( data ) {
                info = data.split('||')

                if(info[0] == "SUCCESS")
                {
                    $(item).closest('tr')
                        .children('td')
                        .animate({ padding: 0 })
                        .wrapInner('<div />')
                        .children()
                        .slideUp(function() { $(item).closest('tr').remove(); });
                }
                $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
            });
    });
</script>