<?php $url = $this->router->getControllerName().'/'.$action; ?>
<script>
    $('.visible').on('click', function() {
        item = $(this);
        link = $(item).attr('data-link');
        value = link.slice(-1);
        id = $(item).attr('data-id');

        $.ajax({
            method: "POST",
            url: link,
        })
        .done(function( data ) {
            info = data.split('||');

            if(info[0] == "SUCCESS")
            {
                if(parseInt(value) == 0)
                {
                    $(item).removeClass('fa-eye');
                    $(item).addClass('fa-eye-slash');
                    $(item).attr('data-link', '<?= $this->url->get($url."/'+id+'/1"); ?>');
                }
                else
                {
                    $(item).removeClass('fa-eye-slash');
                    $(item).addClass('fa-eye');
                    $(item).attr('data-link', '<?= $this->url->get($url."/'+id+'/0"); ?>');
                }
            }
            $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' );
        });
    })
</script>
