<?php echo Phalcon\Tag::form(array('main/search', "method" => "post", 'class' => 'formsearch')) ?>
    <div class="input-group">
        <?php 
        	if($mobile) echo Phalcon\Tag::textField(array('searchName', 'class' => 'form-control')); 
    		else echo Phalcon\Tag::textField(array('searchName', 'class' => 'form-control', 'placeholder' => 'Search for...'));
    	?>
        <span class="input-group-btn">
	        <?php echo Phalcon\Tag::tagHtml('button', array('class' => 'btn btn-default', 'type' => 'submit')) ?>
	        <span class="fa fa-search"></span>
	        <?php echo Phalcon\Tag::tagHtmlClose('button') ?>
        </span>
    </div>
<?php echo Phalcon\Tag::endForm() ?>