<div class="panel-title">
    Statystyki
</div>
<div class="col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div class="content">
        a
    </div>
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <div class="content">
        b
    </div>
</div>