<nav class="navmenu">
    <ul class="nav navmenu-nav">
        <?php foreach($menu as $array): ?>
            <?php if($array->active): ?>
                <?php if(isset($array->actions)): ?>
                <li class="nav-parent<?php if($this->router->getControllerName() == $array->link) echo ' active' ?>">
                    <span class="pull-right fa fa-chevron-left parent"></span>
                    <?= Phalcon\Tag::linkTo(array('#'.$array->link, '<span class="fa fa-'.$array->icon.'"></span>'.$array->name, FALSE, 'class' => 'a-parent')) ?>
                    <ul class="dropdown-menu navmenu-nav">
                        <?php foreach($array->actions as $child): ?>
                        <?php if(isset($child->separate)): ?>
                        <li class="separate"><hr></li>
                        <?php else: ?>
                        <?php
                            $ext = explode('/', $child->link);
                            $active = '';
                            if ($this->router->getActionName() == end($ext))
                                $active = ' class="active"';
                            if ($this->router->getActionName() == 'index' && $this->router->getControllerName() == $child->link)
                                $active = ' class="active"';
                        ?>
                        <li<?= $active ?>>
                            <?= Phalcon\Tag::linkTo(array($child->link, '<span class="fa fa-'.$child->icon.'"></span>'.$child->name)) ?>
                        </li>
                        <?php endif ?>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <?php else: ?>
                <li<?php if($this->router->getControllerName() == $array->link) echo ' class="active"' ?>>
                    <?= Phalcon\Tag::linkTo(array($array->link, '<span class="fa fa-'.$array->icon.'"></span>'.$array->name)) ?>
                </li>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</nav>