<div class="panel-title">
    <?php if($isNew): ?>
        Nowa użytkownik
    <?php else: ?>
        Edytuj użytkownika
    <?php endif ?>
</div>
<?php if($isNew): ?>
    <?php echo $this->tag->form(array("users/new", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php else: ?>
    <?php echo $this->tag->form(array("users/edit", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php endif ?>
<div class="col-xs-12 text-right btn-panel">
    <?php echo $this->tag->linkTo(array('users/index', 'Wróć', 'class' => 'btn btn-default btn-sm'));?>
    <?php echo $this->tag->tagHtml('button', array('type' => 'submit', 'class' => 'btn btn-default btn-sm')) ?>
    Zapisz
    <?php echo $this->tag->tagHtmlClose('button') ?>
</div>
<div id="main-text" class="col-xs-12">
    <?php if(!$isNew) {
        echo $form->render('id', array('value' => $user->id));
    } ?>
    <div class="content radius-border" style="padding: 15px 15px 0;">
        <?php if(!$isNew): ?>
        <?= $form->newRender('login', array('class' => 'form-control', 'value' => $user->login)) ?>
        <?php else: ?>
            <?= $form->newRender('login', array('class' => 'form-control')) ?>
        <?php endif ?>
        <?= $form->newRender('password', array('class' => 'form-control')) ?>
        <?= $form->newRender('repeat', array('class' => 'form-control')) ?>
        <?php if(!$isNew): ?>
        <?= $form->newRender('mail', array('class' => 'form-control', 'value' => $user->getProfile()->email)) ?>
        <?= $form->newRender('name', array('class' => 'form-control', 'value' => $user->getProfile()->name)) ?>
        <?= $form->newRender('surname', array('class' => 'form-control', 'value' => $user->getProfile()->surname)) ?>
        <?php else: ?>
        <?= $form->newRender('mail', array('class' => 'form-control')) ?>
        <?= $form->newRender('name', array('class' => 'form-control')) ?>
        <?= $form->newRender('surname', array('class' => 'form-control')) ?>
        <?php endif ?>
    </div>
</div>
<?php echo $this->tag->endForm(); ?>
