<div class="panel-title">
    Lista użytkowników
</div>
<div class="col-xs-12 text-right btn-panel">
    <?php echo $this->tag->linkTo(array('users/new', 'Dodaj użytkownika', 'class' => 'btn btn-default btn-sm')); ?>
    <?php echo $this->tag->linkTo(array('users/new', 'Dodaj użytkownika', 'class' => 'btn btn-default btn-new-default btn-sm')); ?>
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <?= $this->partial("users/_filtr") ?>
</div>
<div class="col-xs-12 col-md-7 col-lg-8">
    <div class="content box">
        <div class="box-table">
            <?php if (count($users->items) == 0): ?>
                <div class="col-xs-12"><div class="alert alert-warning">Brak artykułów</div></div>
            <?php else: ?>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>E-mail</th>
                            <th>Imię i Nazwisko</th>
                            <th>Grupa</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($users->items as $user): ?>
                        <tr>
                            <td></td>
                            <td><?= $this->tag->linkTo('users/edit/'.$user->id, $user->getProfile()->email) ?></td>
                            <td><?= $user->getProfile()->name ?> <?= $user->getProfile()->surname ?></td>
                            <td>
                                <?php if ($user->is_admin): ?>
                                Super Admin
                                <?php endif; ?>
                            </td>
                            <td class="text-right option-icon">
                                <a href="<?= $this->url->get("users/edit/".$user->id); ?>"><span class="fa fa-pencil-square-o"></span></a>
                                <?php if ($user->enabled): ?>
                                    <span data-link="<?= $this->url->get("users/enabled/".$user->id."/0"); ?>" data-id="<?= $user->id ?>" class="visible fa fa-eye"></span>
                                <?php else: ?>
                                    <span data-link="<?= $this->url->get("users/enabled/".$user->id."/1"); ?>" data-id="<?= $user->id ?>" class="visible fa fa-eye-slash"></span>
                                <?php endif ?>
                                <span data-link="<?= $this->url->get("users/delete/".$user->id); ?>" class="delete fa fa-trash"></span>
                            </td>
                        </tr>
                    <?php endforeach ?>
                    </tbody>
                </table>
            <?php endif ?>
        </div>
    </div>
    <?= $this->partial("main/_delete") ?>
    <?= $this->partial("main/_enabled", array('action' => 'enabled')) ?>
    <?= $this->partial("main/_paginator", array('pagin' => $users)) ?>
</div>