<div class="content box">
    <div class="box-title">
        Filtr
        <span class="fa fa-bars pull-right visible-xs visble-sm"></span>
    </div>
    <div class="box-content">
    </div>
</div>