<div class="panel-title">
    <?php if($isNew): ?>
    Nowa kategoria
    <?php else: ?>
    Edytuj kategorie
    <?php endif ?>
</div>
<?php if($isNew): ?>
<?php echo $this->tag->form(array("blog/addCategory", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php else: ?>
<?php echo $this->tag->form(array("blog/updateCategory", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php endif ?>
<div class="col-xs-12 text-right btn-panel">
    <?php echo $this->tag->linkTo(array('blog/listCategory', 'Wróć', 'class' => 'btn btn-default btn-sm'));?>
    <?php echo $this->tag->tagHtml('button', array('type' => 'submit', 'class' => 'btn btn-default btn-sm')) ?>
    Zapisz
    <?php echo $this->tag->tagHtmlClose('button') ?>
</div>
<div class="col-xs-12">
    <?php if(!$isNew) {
        echo $form->render('id');
    } ?>
    <div class="row content box" style="margin: 0; padding-top: 15px;">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="form-group">
                <label class="col-xs-5 control-label">Nazwa:</label>
                <div class="col-xs-7">
                    <?= $form->render('html_name', array('class' => 'form-control')) ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-5 control-label">Aktywny:</label>
                <div class="col-xs-7">
                    <label class="radio-inline">
                        <?= $form->render('enabled', array('value' => '1')) ?> Tak
                    </label> 
                    <label class="radio-inline">
                        <?= $form->render('enabled', array('value' => '0')) ?> Nie
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-5 control-label">SEO title:</label>
                <div class="col-xs-7">
                    <?= $form->render('seo_title', array('class' => 'form-control')) ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-5 control-label">SEO keyword:</label>
                <div class="col-xs-7">
                    <?= $form->render('seo_key', array('class' => 'form-control')) ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-5 control-label">SEO opis:</label>
                <div class="col-xs-12">
                    <?= $form->render('seo_desc', array('class' => 'form-control')) ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->tag->endForm(); ?>