<div class="panel-title">
    <?php if($isNew): ?>
    Nowa artykuł
    <?php else: ?>
    Edytuj artykuł
    <?php endif ?>
</div>
<?php if($isNew): ?>
<?php echo $this->tag->form(array("blog/add", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php else: ?>
<?php echo $this->tag->form(array("blog/update", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php endif ?>
<div class="col-xs-12 text-right btn-panel">
    <?php echo $this->tag->linkTo(array('blog/index', 'Wróć', 'class' => 'btn btn-default btn-sm'));?>
    <?php echo $this->tag->tagHtml('button', array('type' => 'submit', 'class' => 'btn btn-default btn-sm')) ?>
    Zapisz
    <?php echo $this->tag->tagHtmlClose('button') ?>
</div>
<div id="main-text" class="col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div>
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#opis" aria-controls="opis" role="tab" data-toggle="tab">Opis główny</a></li>
            <li role="presentation"><a href="#short" aria-controls="short" role="tab" data-toggle="tab">Opis skrócony</a></li>
            <li role="presentation"><a href="#show">Podgląd</a></li>
        </ul>

      <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="opis"><div class="form-group" style="margin: 0;"><?= $form->render('html_desc', array('class' => 'form-control')) ?></div></div>
            <div role="tabpanel" class="tab-pane" id="short"><div class="form-group" style="margin: 0;"><?= $form->render('html_desc_short', array('class' => 'form-control')) ?></div></div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <?php if(!$isNew) {
        echo $form->render('id');
    } ?>
    <div>
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#opcje" aria-controls="opcje" role="tab" data-toggle="tab">Opcje</a></li>
            <li role="presentation" class="visible-xs"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Tekst</a></li>
            <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">SEO</a></li>
        </ul>

      <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="opcje"><?= $this->partial("blog/_tab_form_1", array('form' => $form)) ?></div>
            <div role="tabpanel" class="tab-pane" id="text">
                <div class="form-group" style="margin: 0 0 15px;">
                    <label class="control-label">Opis główny</label>
                    <?= $form->render('html_desc', array('class' => 'form-control')) ?>
                </div>
                <div class="form-group" style="margin: 0;">
                    <label class="control-label">Opis skrócony</label>
                    <?= $form->render('html_desc_short', array('class' => 'form-control')) ?>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="seo"><?= $this->partial("blog/_tab_form_2", array('form' => $form)) ?></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    <?php if(!$isNew): ?>
    var ids = $('#id').val();

    $.ajax({
        method: "POST",
        url: "<?= $this->url->get("blog/list"); ?>/"+ids,
    })
    .done(function( data ) {
        $('#category_id').html(data)
    });

    <?php else: ?>

    $.ajax({
        method: "POST",
        url: "<?= $this->url->get("blog/list"); ?>",
    })
    .done(function( data ) {
        $('#category_id').html(data)
    });

    <?php endif ?>
</script>
<?php echo $this->tag->endForm(); ?>