<div class="form-group">
    <label class="col-xs-5 control-label">Nazwa:</label>
    <div class="col-xs-7">
        <?= $form->render('html_name', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Kategoria:</label>
    <div class="col-xs-7">
        <select id="category_id" name="category_id" class="form-control"></select>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Aktywny:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Wyróźniony:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('highlights', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('highlights', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Zaakceptowany:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('accept', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('accept', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Blokada komentarzy:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('block_comment', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('block_comment', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<?php if(!$isNew): ?>
<?php $link = $this->url->get(array('for' => 'article-link', 'title' => $linkTitle, 'id' => $linkId)); ?>
<div class="form-group">
    <label class="col-xs-5 control-label">Adres wew:</label>
    <div class="col-xs-7">
        <input type="text" class="form-control" value="<?= substr($link, 7) ?>" readonly />
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Zdjęcie:</label>
    <div class="col-xs-7">
        <img src="" class="img-responsive img-thumbnail" alt="" style="width: 100%">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-7 col-xs-offset-5">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadModal">Wybierz</button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadModal">Zmień</button>
        <button type="button" class="btn btn-default btn-sm" id="deleteAttach">Usuń</button>
    </div>
</div>
<?php endif ?>