<div class="panel-title">
    Komentarze
</div>
<div class="col-xs-12">
    <div class="content box">
        <div class="box-table">
            <?php if (count($comments) == 0): ?>
            <div class="col-xs-12"><div class="alert alert-warning">Brak Komentarzy</div></div>
            <?php else: ?>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nazwa</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($comments as $comment): ?>
                    <tr>
                        <td></td>
                        <td><?= $comment->html_nick ?></td>
                        <td><?= date('Y-m-d', $comment->date_create) ?></td>
                        <td class="text-right option-icon">
                            <?php if ($comment->enabled): ?>
                            <span data-link="<?= $this->url->get("blog/enabledComment/".$comment->id."/0"); ?>" data-id="<?= $comment->id ?>" data-value="<?= $comment->enabled ?>" class="visible fa fa-eye"></span>
                            <?php else: ?>
                            <span data-link="<?= $this->url->get("blog/enabledComment/".$comment->id."/1"); ?>" data-id="<?= $comment->id ?>" data-value="<?= $comment->enabled ?>" class="visible fa fa-eye-slash"></span>
                            <?php endif ?>
                            <span data-link="<?= $this->url->get("blog/deleteComment/".$comment->id); ?>" class="delete fa fa-trash"></span>
                        </td>
                    </tr>   
                    <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">
            $('.visible').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')
                value = $(item).attr('data-value')
                id = $(item).attr('data-id')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {

                        if(parseInt(value) == 1)
                        {
                            $(item).removeClass('fa-eye')
                            $(item).addClass('fa-eye-slash')
                            $(item).attr('data-link', '<?= $this->url->get("blog/enabledComment/'+id+'/1"); ?>')
                            $(item).attr('data-value', '0')
                        }
                        else
                        {
                            $(item).removeClass('fa-eye-slash')
                            $(item).addClass('fa-eye')
                            $(item).attr('data-link', '<?= $this->url->get("blog/enabledComment/'+id+'/0"); ?>')
                            $(item).attr('data-value', '1')
                        }
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            })
            $('.delete').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {
                        $(item).closest('tr')
                            .children('td')
                            .animate({ padding: 0 })
                            .wrapInner('<div />')
                            .children()
                            .slideUp(function() { $(item).closest('tr').remove(); });
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            });
            </script>
            <?php endif ?>
        </div>
    </div>
</div>