<div class="panel-title">
    Lista kategorii
</div>
<div class="col-xs-12">
    <div class="content box">
        <div class="box-table">
            <?php if (count($categories) == 0): ?>
            <div class="col-xs-12"><div class="alert alert-warning">Brak kategorii</div></div>
            <?php else: ?>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nazwa</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($categories as $category): ?>
                    <?php $level = $category['level']; $item = $category['cat'] ?>
                    <tr>
                        <td></td>
                        <td>
                            <?= str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;", $level - 1) ?><span class="fa fa-share fa-flip-vertical"></span>
                            <?= $this->tag->linkTo('blog/editCategory/'.$item->id, $item->html_name) ?>
                        </td>
                        <td class="text-right option-icon">
                            <?= $this->tag->linkTo('blog/editCategory/'.$item->id, '<span class="fa fa-pencil-square-o"></span>') ?>
                            <?php if ($item->enabled): ?>
                            <span data-link="<?= $this->url->get("blog/enabledCategory/".$item->id."/0"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye"></span>
                            <?php else: ?>
                            <span data-link="<?= $this->url->get("blog/enabledCategory/".$item->id."/1"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye-slash"></span>
                            <?php endif ?>
                            <span data-link="<?= $this->url->get("blog/deleteCategory/".$item->id); ?>" class="delete fa fa-trash"></span>
                        </td>
                    </tr>   
                    <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">
            $('.visible').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')
                value = $(item).attr('data-value')
                id = $(item).attr('data-id')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {

                        if(parseInt(value) == 1)
                        {
                            $(item).removeClass('fa-eye')
                            $(item).addClass('fa-eye-slash')
                            $(item).attr('data-link', '<?= $this->url->get("blog/enabledCategory/'+id+'/1"); ?>')
                            $(item).attr('data-value', '0')
                        }
                        else
                        {
                            $(item).removeClass('fa-eye-slash')
                            $(item).addClass('fa-eye')
                            $(item).attr('data-link', '<?= $this->url->get("blog/enabledCategory/'+id+'/0"); ?>')
                            $(item).attr('data-value', '1')
                        }
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            })
            $('.delete').on('click', function() {
                item = $(this)
                link = $(item).attr('data-link')

                $.ajax({
                    method: "POST",
                    url: link,
                })
                .done(function( data ) {
                    info = data.split('||')

                    if(info[0] == "SUCCESS")
                    {
                        $(item).closest('tr')
                            .children('td')
                            .animate({ padding: 0 })
                            .wrapInner('<div />')
                            .children()
                            .slideUp(function() { $(item).closest('tr').remove(); });
                    }
                    $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
                });
            });
            </script>
            <?php endif ?>
        </div>
    </div>
</div>