<div class="panel-title">
    <?php if($isNew): ?>
    Nowa galeria
    <?php else: ?>
    Edytuj galerie
    <?php endif ?>
</div>
<?php if($isNew): ?>
<?php echo $this->tag->form(array("gallery/new", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php else: ?>
<?php echo $this->tag->form(array("gallery/edit", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php endif ?>
<div class="col-xs-12 text-right btn-panel">
<?php if(!$isNew): ?>
    <?php echo $this->tag->linkTo(array('gallery/clear', 'Wyczyść', 'class' => 'btn btn-default btn-sm'));?>
    <span class="separate-button">|</span>
    <?php echo $this->tag->tagHtml('button', array('type' => 'button', 'class' => 'btn btn-default btn-sm', 'data-toggle' => 'modal', 'data-target' => '#modalBrowse')) ?>
    Dodaj zdjęcia
    <?php echo $this->tag->tagHtmlClose('button') ?>
    <span class="separate-button">|</span>
<?php endif ?>
    <?php echo $this->tag->linkTo(array('gallery/index', 'Wróć', 'class' => 'btn btn-default btn-sm'));?>
    <?php echo $this->tag->tagHtml('button', array('type' => 'submit', 'class' => 'btn btn-default btn-sm')) ?>
    Zapisz
    <?php echo $this->tag->tagHtmlClose('button') ?>
</div>
<div id="main-text" class="col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div class="content radius-border space">
        <div class="form-group" style="margin: 0; padding: 15px 0">
        <?php if($isNew): ?>
            <div class="alert alert-warning">W trybie tworzenia galerii nie można dodawać zdjęć</div>
        <?php else: ?>
            <?php foreach($photos as $photo): ?>
            <div class="col-xs-12 col-sm-6 col-md-4" style="position: relative">
                <div class="control-photo text-right">
                    <?php echo $this->tag->linkTo(array('gallery/editPhoto/'.$photo->id, '<span class="fa fa-pencil-square-o"></span>', 'class' => 'btn btn-default btn-xs'));?>
                    <?php if($photo->enabled): ?>
                    <?php echo $this->tag->linkTo(array('gallery/enabledPhoto/'.$photo->id, '<span class="fa fa-eye"></span>', 'class' => 'btn btn-default btn-xs btn-info'));?>
                    <?php else:?>
                    <?php echo $this->tag->linkTo(array('gallery/enabledPhoto/'.$photo->id, '<span class="fa fa-eye-slash"></span>', 'class' => 'btn btn-default btn-xs btn-info'));?>
                    <?php endif ?>
                    
                    <a href="<?= $this->url->get('gallery/deletePhoto/'.$gallery.'/'.$photo->id); ?>" class="btn btn-default btn-xs btn-danger"><span class="fa fa-trash"></span></a>
                </div>
                <a data-toggle="modal" data-target="#modalPhoto" data-whatever="<?= $this->url->get("main/showPhoto/".$photo->upload_id) ?>">
                    <img src="<?= '/uploads/thumbnail/'.date('Y/m/d', strtotime($photo->upload->date_create)).'/'.$photo->upload->name_ext ?>" alt="" class="img-responsive">
                </a>
            </div>
            <?php endforeach; ?>
        <?php endif ?>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <?php if(!$isNew) {
        echo $form->render('id');
    } echo $form->render('user_id'); ?>
    <div>
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#opcje" aria-controls="opcje" role="tab" data-toggle="tab">Opcje</a></li>
            <li role="presentation" class="visible-xs"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Zdjęcia</a></li>
        </ul>

      <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="opcje"><?= $this->partial("gallery/_tab_form_1", array('form' => $form)) ?></div>
            <div role="tabpanel" class="tab-pane" id="text">
                <div class="form-group" style="margin: 0;">
                <?php if($isNew): ?>
                    <div class="alert alert-warning">W trybie tworzenia galerii nie można dodawać zdjęć</div>
                <?php else: ?>
                    Zdjęcia
                <?php endif ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php if(!$isNew) echo $this->partial("gallery/_modal", array('gallery' => $gallery)) ?>
<?php if(!$isNew) echo $this->partial("gallery/_modalPhoto", array('gallery' => $gallery)) ?>
<?php echo $this->tag->endForm(); ?>
