<div class="modal fade" id="modalBrowse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-browse modal-lg" role="document">
        <div class="modal-content modal-content-browse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Wybierz zdjęcia</h4>
            </div>
            <div class="modal-body modal-body-browse" style="padding: 0">
                <iframe src="<?= $this->url->get("files/gallery/1/1"); ?>"></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setUploadFile = function(id_upload){
        $('#modalBrowse').modal('hide');
        $.ajax({
            cache: false,
            url: "<?= $this->url->get($this->router->getControllerName()."/addPhoto"); ?>",
            type: 'POST',
            data: { 'gallery' : <?= $gallery ?>, 'images' : id_upload},
            success: function(html){
                if(html=="@SUCCESS")
                    location.reload(true);
                
                //console.log("upload_view: "+ html);
            }
        });
    }

    setMultiUploadFile = function(id_array){
        $('#modalBrowse').modal('hide');
        $.ajax({
            cache: false,
            url: "<?= $this->url->get("gallery/addPhoto"); ?>",
            type: 'POST',
            data: { 'gallery' : <?= $gallery ?>, 'images' : id_array},
            success: function(html){
                if(html=="@SUCCESS")
                    location.reload(true);
                
                //console.log("upload_view: "+ html);
            }
        });
    }
</script>