<div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Podgląd zdjęcia</h4>
            </div>
            <div class="modal-body">
                <img src="" alt="" class="img-responsive center-block" />
            </div>
        </div>
    </div>
</div>
<script>
$('#modalPhoto').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var recipient = button.data('whatever') 
    var modal = $(this)
    modal.find('.modal-body img').attr('src', recipient)
})
</script>