<div class="form-group">
    <label class="col-xs-5 control-label">Nazwa:</label>
    <div class="col-xs-7">
        <?= $form->render('html_name', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Aktywny:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Pokaż nazwę:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('show_name', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('show_name', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>