<div class="panel-title">
    Lista galerii
</div>
<div class="col-xs-12">
    <div class="content pad-write radius-border">
        <table class="table res-tab">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Pozycja</th>
                    <th></th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
            <?php if(count($lists) < 1): ?>
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning">Brak galerii</div>
                    </td>
                </tr>
            <?php else: ?>
                <?php foreach($lists as $item): ?>
                <tr>
                    <td><?= $item->id ?></td>
                    <td><?= $this->tag->linkTo('gallery/edit/'.$item->id, $item->html_name) ?></td>
                    <td></td>
                    <td></td>
                    <td class="text-right option-icon">
                        <?= $this->tag->linkTo('gallery/edit/'.$item->id, '<span class="fa fa-pencil-square-o"></span>') ?>
                        <?php if ($item->enabled): ?>
                        <span data-link="<?= $this->url->get("pages/enabled/".$item->id."/0"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye"></span>
                        <?php else: ?>
                        <span data-link="<?= $this->url->get("pages/enabled/".$item->id."/1"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye-slash"></span>
                        <?php endif ?>
                        <span data-link="<?= $this->url->get("pages/delete/".$item->id); ?>" class="delete fa fa-trash"></span>
                    </td>
                </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>