<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <?= $this->tag->getTitle() ?>

        <link rel="icon" type="image/png" href="img/favicon.png"/>
        <!-- stylsheet -->
        <?= $this->assets->outputCss('style') ?>

        <!-- javascript -->
        <?= $this->assets->outputJs('jsHead') ?>

        <!-- google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-66392361-1', 'auto');
            ga('send', 'pageview');
        </script>
	</head>
	<body>
		<?php echo $this->flashSession->output() ?>
		<?php echo $this->getContent(); ?>
        <?= $this->assets->outputJs('jsTools') ?>
	</body>
</html>