@CHARSET "UTF-8";

body {
    background-color: #f3f3f3;
}

.login-form {
    width: 290px;
    height: 145px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -145px;
    margin-top: -72.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    background: #fff;
}

.login-form .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
    border-radius: 5px;
}

.login-form .img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
}

.login-form .img img.active {
    z-index: 3
}

.login-form .form {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
}

.login-form .title {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-group {
    width: 100%;
    padding: 7.5px 15px;
    margin-bottom: 0;
}

.form-group input, .form-group button {
    width: 100%;
    height: 30px;
}

.form-group input {
    border: 1px solid #ccc;
    padding: 0 5px;
    border-bottom: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.form-group:focus input, .form-group:hover input {
    background: rgba(255, 255, 255, 1);
    outline: none;
}

.form-group input:FIRST-CHILD {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-group input:LAST-CHILD {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #ccc;
}

.login-form button.login {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    line-height: 16px;
}

@media (min-width: 360px) {
    .login-form {
        width: 330px;
        height: 165px;
        margin-left: -165px;
        margin-top: -82.5px;
    }
}

@media (min-width: 568px) {
    .login-form {
        width: 538px;
        height: 239px;
        margin-left: -269px;
        margin-top: -119.5px;
    }

    .login-form form {
        position: relative;
        min-height: 197px;
    }

    .form-group input {
        width: 50%;
    }

    .form-group {
        margin-top: 18px;
        margin-left: 10px;
    }

    .form-group:last-child {
        position: absolute;
        bottom: 35px;
        right: 10px;
        width: 30%;
        margin: 0;
    }
}   