body {
    background: #1d2939;
}

header {
    background: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

header div.top {
    display: table;
}

header .a-logout, header .a-menu, header .a-settings {
    display: table-cell;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #ddd;
    font-size: 20px;
}

header .logo {
    border-bottom: 1px solid #ddd;
}

header .a-logo {
    width: 190px;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

form {
    margin: 0;
}

header .formsearch {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

a, a:hover, a:focus {
    color: #333;
}

.leftpanel {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    padding: 15px;
    color: #999;
    background: #1d2939;
    display: none;
}

.mainpanel {
    min-height: 1030px;
    background: #e4e7ea;
}

.navmenu {
    width: auto;
    border: none;
    border-radius: 0;
}

.navmenu li .fa {
    width: 16px;
    text-align: center;
    margin-right: 10px;
}

.navmenu-nav {
    margin-bottom: 0;
}

.navmenu li .fa.pull-right {
    padding: 8px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.navmenu li.active .fa.pull-right, .navmenu li.active:hover .fa.pull-right, .navmenu li.active:focus .fa.pull-right {
    color: #fff;
}

.navmenu li:hover .fa.pull-right, .navmenu li:focus .fa.pull-right {
    color: #1d2939;
}

.navmenu-nav>li {
    margin-bottom: 2px;
}

.navmenu-nav>li>a {
    color: #999;
    padding: 5px 10px;
    border-radius: 3px;
}

.navmenu-nav>li:focus>a, .navmenu-nav>li:hover>a {
    color: #1d2939;
    background: #fff;
}

.navmenu-nav>li.active>a, .navmenu-nav>li.active:focus>a, .navmenu-nav>li.active:hover>a {
    color: #fff;
    background: #1caf9a;
}

.nav-parent>.dropdown-menu {
    margin-top: 2px;
    padding-bottom: 0;
    background: transparent;
    display: none;
    overflow: hidden;
}

.nav-parent>.dropdown-menu>li {
    margin-bottom: 2px;
}

.nav-parent>.dropdown-menu>li>a {
    color: #999;
    padding: 5px 10px 5px 20px;
    border-radius: 3px;
}

.nav-parent>.dropdown-menu>li:focus>a, .navmenu-nav>.dropdown-menu>li:hover>a {
    color: #1d2939;
    background: #fff;
}

.nav-parent>.dropdown-menu>li.separate hr {
    margin: 3px;
    border-top: 1px solid #999; 
}

.show-600 {
    display: none;
}

.hidden-600 {
    display: block;
}

.hidden-600 .a-logout, .hidden-600 .a-settings {
    height: 49px;
}

.leftpanel form.formsearch .form-control {
    background: #131b26;
    color: #555;
    border: none;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.leftpanel form.formsearch .form-control:focus {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.leftpanel form.formsearch .input-group-btn .btn {
    background: #131b26;
    color: #555;
    border: 1px solid #131b26;
}

.show-600 form.formsearch .form-control {
    background: #fff;
    color: #555;
    border: none;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: 6px 2px;
}

.show-600 form.formsearch .form-control:focus {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.show-600 form.formsearch .input-group-btn .btn {
    background: #fff;
    color: #555;
    border: 1px solid #fff;
}

.leftpanel .search {
    margin-bottom: 8px;
}

.leftpanel .title {
    margin-bottom: 3px;
}

.content {
    background: #fff;
}

.tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.tab-content .form-group:last-child {
    margin-bottom: 0;
}

.radius-border {
    border-radius: 4px;
    border: 1px solid #ddd;
}

.panel-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    background: #fff;
    padding: 0 20px;
}

.pad-write {
    padding: 15px 15px 0;
}

.btn-panel {
    margin-bottom: 15px;
}

.nav-tabs>li>a {
    padding: 5px 10px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.box {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 15px;
}

.box .box-title {
    padding: 10px 15px;
    background: #1caf9a;
    color: #fff;
    height: 50px;
    line-height: 30px;
    font-size: 16px;
}

.box .box-title .fa {
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.box .box-content {
    display: none;
    padding: 10px 15px;
}

.box .box-table {
    padding: 10px 0;
}

.box .box-input {
    padding: 10px 15px;
    border-top: 1px solid #e4e7ea;
}

table.res-tab table, table.res-tab tbody, table.res-tab th, 
table.res-tab td, table.res-tab tr { 
    display: block; 
}

table.res-tab thead { 
    display: none;
}

.alert {
    margin-bottom: 10px;
}

.table {
    margin-bottom: 0;
}

.option-icon .fa {
    font-size: 18px;
    cursor: pointer;
}

.progress-bar-new-green {
    background-color: #1caf9a;
}

@media (min-width: 568px) {
    header {
        height: 50px;
    }

    header .logo {
        border-bottom: none;
        border-right: 1px solid #ddd;
        width: 240px;
    }

    .leftpanel {
        display:block;
        left: 0;
        width: 240px;
        top: 50px;
    }

    .mainpanel {
        margin-left: 240px;
    }

    .show-600 {
        display: block;
    }

    .hidden-600 {
        display: none;
    }
}

@media (min-width: 768px) {
    header .search {
        display: table-cell;
    }

    .panel-title {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }

    .nav-tabs>li>a {
        padding: 10px 15px;
    }
    
    table.res-tab thead {
        display: table-header-group;
    }
    
    table.res-tab tbody {
        display: table-row-group
    }
    
    table.res-tab tr {
        display: table-row;
    }
    
    table.res-tab td, table.res-tab th {
        display: table-cell;
    }
}

@media (min-width: 992px) {
    .box .box-content {
        display: block;
    }
}

@media (min-width: 1200px) {

}

.modal-dialog-browse,
.modal-content-browse {
    height: 80%;
}

.modal-body-browse {
    max-height: calc(100% - 60px);
    height: 100%;
    overflow: hidden;
}

.modal-body-browse iframe {
    border: none; 
    width: 100%;
    height: 100%;
}

.pagination {
    margin: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #1caf9a;
    border-color: #1caf9a;
}

.nav-parent>.dropdown-menu>li.active>a {
    color: #fff;
}

.btn-new-default {
    color: #fff;
    background-color: #1caf9a;
    border-color: #1b8974;
}

/*.btn-new-default:hover {*/
    /*color: #999;*/
    /*background-color: #1d2939;*/
    /*border-color: #1d2939;*/
/*}*/