<!DOCTYPE html>
<html>
    <head>
        <?= $this->tag->getTitle() ?>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- stylsheet -->
        <?= $this->assets->outputCss('style') ?>

        <!-- javascript -->
        <?= $this->assets->outputJs('jsHead') ?>
    </head>
    <body>
        <header>
            <div class="show-600">
                <div class="top pull-right">
                    <a class="a-settings" href=""><span class="fa fa-cogs"></span></a>
                    <?= $this->tag->linkTo(array('main/logout', '<span class="fa fa-power-off"></span>', 'class' => 'a-logout'));?>
                </div>
                <div class="top pull-left logo">
                    <a class="a-logo" href="">Logo</a>
                    <a class="a-menu" href=""><span class="fa fa-bars"></span></a>
                </div>
                <div class="top pull-left hidden-xs">
                    <?= $this->partial("main/_search", array('mobile' => false)) ?>
                </div>
            </div>
            <div class="hidden-600">
                <div class="logo" style="position: relative">
                    <a class="a-logo" href="">Logo</a>
                    <a class="a-menu" href="" style="position: absolute; right: 0; top: 0"><span class="fa fa-bars" style="padding: 15px 0"></span></a>
                </div>
                <div class="pull-right">
                    <a class="a-settings" href=""><span class="fa fa-cogs"></span></a>
                    <?= $this->tag->linkTo(array('main/logout', '<span class="fa fa-power-off"></span>', 'class' => 'a-logout'));?>
                </div>
            </div>
        </header>
        <section>
            <div class="leftpanel">
                <div class="search visible-xs-block">
                    <div class="title">Search</div>
                    <?= $this->partial("main/_search", array('mobile' => true)) ?>
                </div>
                <div class="navigation">
                    <div class="title">Navigation</div>
                    <?= $this->partial("main/menu", array('menu' => $menu)) ?>
                </div>
            </div>
            <div class="mainpanel">
                <div class="container-fluid">
                    <div class="row">
                        <?= $this->getContent(); ?>
                    </div>
                </div>
            </div>
        </section>
        <?= $this->flashSession->output() ?>
        <?= $this->assets->outputJs('jsTools') ?>
    </body>
</html>
