<!DOCTYPE html>
<html>
    <head>
    <?= $this->tag->getTitle() ?>

    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- stylsheet -->
        <?= $this->assets->outputCss('style') ?>

        <!-- javascript -->
        <?= $this->assets->outputJs('jsHead') ?>
    </head>
    <body>
        <?= $this->flashSession->output() ?>
        <?= $this->getContent(); ?>
        <?= $this->assets->outputJs('jsTools') ?>
    </body>
</html>