<span class="title">Logowanie</span>
<?php echo $this->tag->form(array("users/login", "method" => "post")); ?>
    <fieldset>
        <div class="form-group">
            <label for="email">Username/Email</label>
            <div class="controls">
                <?php echo $this->tag->textField(array('logi', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="controls">
<!--                 {{ password_field('pass', 'class': "form-control") }} -->
                <?php echo $this->tag->passwordField(array('pass', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <?php echo $this->tag->submitButton(array('Login', 'class' => 'btn btn-primary btn-large')) ?>
        </div>
    </fieldset>
<?php echo $this->tag->endForm(); ?>