<span class="title">Rejestracja</span>
<?php echo $this->tag->form(array("users/register", "method" => "post")); ?>
    <fieldset>
        <div class="form-group">
            <label for="email">Username/Email</label>
            <div class="controls">
                <?php echo $this->tag->textField(array('logi', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="controls">
                <?php echo $this->tag->passwordField(array('pass', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password repeat</label>
            <div class="controls">
                <?php echo $this->tag->passwordField(array('pasr', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Email</label>
            <div class="controls">
                <?php echo $this->tag->textField(array('email', 'class' => 'form-control')) ?>
            </div>
        </div>
        <div class="form-group">
            <?php echo $this->tag->submitButton(array('Regist', 'class' => 'btn btn-primary btn-large')) ?>
        </div>
    </fieldset>
<?php echo $this->tag->endForm(); ?>