<div class="panel-title">
    <?php if($isNew): ?>
    Nowa strona
    <?php else: ?>
    Edytuj strone
    <?php endif ?>
</div>
<?php if($isNew): ?>
<?php echo $this->tag->form(array("pages/add", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php else: ?>
<?php echo $this->tag->form(array("pages/update", "method" => "post", 'class' => 'form-horizontal')); ?>
<?php endif ?>
<div class="col-xs-12 text-right btn-panel">
    <?php echo $this->tag->linkTo(array('pages/index', 'Wróć', 'class' => 'btn btn-default btn-sm'));?>
    <?php echo $this->tag->tagHtml('button', array('type' => 'submit', 'class' => 'btn btn-default btn-sm')) ?>
    Zapisz
    <?php echo $this->tag->tagHtmlClose('button') ?>
</div>
<div id="main-text" class="col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div class="content radius-border">
        <div class="form-group" style="margin: 0 15px; padding: 15px 0">
            <?= $form->render('html_desc', array('class' => 'form-control')) ?>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-5 col-lg-4">
    <?php if(!$isNew) {
        echo $form->render('id');
    } ?>
    <div>
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#opcje" aria-controls="opcje" role="tab" data-toggle="tab">Opcje</a></li>
            <li role="presentation" class="visible-xs"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Tekst</a></li>
            <?php if(!$isNew): ?>
            <li role="presentation"><a href="#zalaczniki" aria-controls="zalaczniki" role="tab" data-toggle="tab">Pliki</a></li>
            <?php endif ?>
            <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">SEO</a></li>
        </ul>

      <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="opcje"><?= $this->partial("pages/_tab_form_1", array('form' => $form)) ?></div>
            <div role="tabpanel" class="tab-pane" id="text"><div class="form-group" style="margin: 0;"><?= $form->render('html_desc', array('class' => 'form-control')) ?></div></div>
            <?php if(!$isNew): ?>
            <div role="tabpanel" class="tab-pane" id="zalaczniki">...</div>
            <?php endif ?>
            <div role="tabpanel" class="tab-pane" id="seo"><?= $this->partial("pages/_tab_form_2", array('form' => $form)) ?></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pos = $('#position').val();
    <?php if(!$isNew): ?>
    var ids = $('#id').val();

    $.ajax({
        method: "POST",
        url: "<?= $this->url->get("pages/list"); ?>/"+pos+"/"+ids,
    })
    .done(function( data ) {
        $('#parent').html(data)
    });

    <?php else: ?>

    $.ajax({
        method: "POST",
        url: "<?= $this->url->get("pages/list"); ?>/"+pos,
    })
    .done(function( data ) {
        $('#parent').html(data)
    });

    <?php endif ?>
    $('#position').change(function() {
        pos = $('#position').val();
        <?php if(!$isNew): ?>

        var ids = $('#id').val();

        $.ajax({
            method: "POST",
            url: "<?= $this->url->get("pages/list"); ?>/"+pos+"/"+ids,
        })
        .done(function( data ) {
            $('#parent').html(data)
        });

        <?php else: ?>

        $.ajax({
            method: "POST",
            url: "<?= $this->url->get("pages/list"); ?>/"+pos,
        })
        .done(function( data ) {
            $('#parent').html(data)
        });

        <?php endif ?>
    })
</script>
<?php echo $this->tag->endForm(); ?>