<div class="form-group">
    <label class="col-xs-5 control-label">SEO title:</label>
    <div class="col-xs-7">
        <?= $form->render('seo_title', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">SEO keyword:</label>
    <div class="col-xs-7">
        <?= $form->render('seo_key', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">SEO opis:</label>
    <div class="col-xs-12">
        <?= $form->render('seo_desc', array('class' => 'form-control')) ?>
    </div>
</div>