<div class="form-group">
    <label class="col-xs-5 control-label">Nazwa:</label>
    <div class="col-xs-7">
        <?= $form->render('html_name', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Pozycja:</label>
    <div class="col-xs-7">
        <?= $form->render('position', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Podstrony:</label>
    <div class="col-xs-7">
        <?= $form->render('parent', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Widoczny:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('enabled', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Typ strony:</label>
    <div class="col-xs-7">
        <?= $form->render('show_typ', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Pokaz nazwę:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('show_name', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('show_name', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Okno popup:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('show_popup', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('show_popup', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Link:</label>
    <div class="col-xs-7">
        <?= $form->render('link_referrer', array('class' => 'form-control')) ?>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Nowe zakładka:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('new_window', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('new_window', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-5 control-label">Nieklikalny:</label>
    <div class="col-xs-7">
        <label class="radio-inline">
            <?= $form->render('dont_click', array('value' => '1')) ?> Tak
        </label> 
        <label class="radio-inline">
            <?= $form->render('dont_click', array('value' => '0')) ?> Nie
        </label>
    </div>
</div>
<?php if(!$isNew): ?>
<?php $link = $this->url->get(array('for' => 'page-link', 'title' => $linkTitle, 'id' => $linkId)); ?>
<div class="form-group">
    <label class="col-xs-5 control-label">Adres wew:</label>
    <div class="col-xs-7">
        <input type="text" class="form-control" value="<?= substr($link, 7) ?>" readonly />
    </div>
</div>
<?php endif ?>