<div class="panel-title">
    Lista stron
</div>
<div class="col-xs-12">
    <div class="content pad-write radius-border">
        <table class="table res-tab">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Pozycja</th>
                    <th></th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
            <?php if(count($pages) < 1): ?>
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning">Brak stron</div>
                    </td>
                </tr>
            <?php else: ?>
                <?php foreach($pages as $page): ?>
                <?php $level = $page['level']; $item = $page['page'] ?>
                <tr>
                    <td><?= $item->id ?></td>
                    <td data-level="<?= $level ?>">
                        <?= str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;", $level - 1) ?><span class="fa fa-share fa-flip-vertical"></span>
                        <?= $this->tag->linkTo('pages/edit/'.$item->id, $item->html_name) ?>
                    </td>
                    <td><?= $item->getPositionName() ?></td>
                    <td></td>
                    <td class="text-right option-icon">
                        <?= $this->tag->linkTo('pages/edit/'.$item->id, '<span class="fa fa-pencil-square-o"></span>') ?>
                        <?php if ($item->enabled): ?>
                        <span data-link="<?= $this->url->get("pages/enabled/".$item->id."/0"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye"></span>
                        <?php else: ?>
                        <span data-link="<?= $this->url->get("pages/enabled/".$item->id."/1"); ?>" data-id="<?= $item->id ?>" data-value="<?= $item->enabled ?>" class="visible fa fa-eye-slash"></span>
                        <?php endif ?>
                        <span data-link="<?= $this->url->get("pages/delete/".$item->id); ?>" class="delete fa fa-trash"></span>
                    </td>
                </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
        <script type="text/javascript">
        $('.visible').on('click', function() {
            item = $(this)
            link = $(item).attr('data-link')
            value = $(item).attr('data-value')
            id = $(item).attr('data-id')

            $.ajax({
                method: "POST",
                url: link,
            })
            .done(function( data ) {
                info = data.split('||')

                if(info[0] == "SUCCESS")
                {

                    if(parseInt(value) == 1)
                    {
                        $(item).removeClass('fa-eye')
                        $(item).addClass('fa-eye-slash')
                        $(item).attr('data-link', '<?= $this->url->get("pages/enabled/'+id+'/1"); ?>')
                        $(item).attr('data-value', '0')
                    }
                    else
                    {
                        $(item).removeClass('fa-eye-slash')
                        $(item).addClass('fa-eye')
                        $(item).attr('data-link', '<?= $this->url->get("pages/enabled/'+id+'/0"); ?>')
                        $(item).attr('data-value', '1')
                    }
                }
                $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
            });
        })
        $('.delete').on('click', function() {
            item = $(this)
            link = $(item).attr('data-link')

            $.ajax({
                method: "POST",
                url: link,
            })
            .done(function( data ) {
                info = data.split('||')

                if(info[0] == "SUCCESS")
                {
                    $(item).closest('tr')
                        .children('td')
                        .animate({ padding: 0 })
                        .wrapInner('<div />')
                        .children()
                        .slideUp(function() { $(item).closest('tr').remove(); });
                }
                $( "body" ).prepend( '<div class="alert alert-'+info[0].toLowerCase()+' alert-fixed-top">'+info[1]+'</div>' )
            });
        });
        </script>
    </div>
</div>