<option value="0"></option>
<?php foreach($meni as $opt): ?>
<option value="<?= $opt['id'] ?>"<?= ($sele != 0 && $sele == $opt['id']) ? ' selected' : '' ?>>
    <?= str_repeat('&nbsp;&nbsp;', ($opt['level'] - 1)).$opt['name'] ?>
</option>
<?php endforeach; ?>